

.border {
    border: 1px solid #ff0000;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid #ff0000;
        transform: scale(0.5);
        transform-origin: 0 0;
        box-sizing: border-box;
        pointer-events: none;
    }
}
















